.feedback-section {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.feedback-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff; /* Gray background for the section */
   
}

.feedback-form-container {
    flex: 1;
    text-align: left;
}

.feedback-quotes-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feedback-form {
    max-width: 100%;
    background-color: #f5f1f1; /* White background for form */
    padding: 40px;
    
    border-radius: 8px; 
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd; /* Lighter gray border for input fields */
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff; /* White background for input fields */
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.feedback-quote {
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    color: #fff;
}

.feedback-quote h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feedback-quote p {
    font-size: 18px;
    line-height: 1.6;
}
