/* Styles for Carwom component */

.carwom-container {
    margin-top: 40px;
}

.carwom-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.carwom-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards in each row */
    gap: 40px; /* Increased spacing between cards */
}

.carwom-card {
    background-color: #fff;
    padding: 10px; /* Decreased padding */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 440px; /* Set a fixed height for the cards */
}

.carwom-card img {
    width: 100%;
    height: 300px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 8px;
    margin-bottom: 10px;
}

.carwom-content {
    text-align: left;
}

.carwom-content h3 {
    font-size: 1rem; /* Decreased font size */
    margin-bottom: 5px;
}

.carwom-content p {
    font-size: 0.9rem; /* Decreased font size */
    color: #777;
    margin-bottom: 5px;
}

.favorite-icon {
    color: #f39c12; /* Yellow color */
    font-size: 1rem; /* Decreased icon size */
}

.buy-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 1rem;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #555;
}
