/* Styles for Dresses component */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  color: #333;
}

.dresses-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center; /* Center the grid */
  max-width: 1200px; /* Maximum width for the grid container */
  margin: 0 auto; /* Center the grid container */
}

@media (min-width: 640px) {
  .dresses-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .dresses-section {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px; /* Reduced padding inside the card */
  max-width: 280px; /* Set max width for the cards */
  margin: auto; /* Center the card */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 450px; /* Increase height of images */
  object-fit: cover;
  border-bottom: 1px solid #f1f1f1;
}

.card-content {
  padding: 10px 0;
}

.card-title {
  font-size: 1rem;
  margin-top: 10px;
  color: #333;
}

.card-desc {
  color: #555;
  margin: 5px 0;
  font-size: 0.875rem;
}

.card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  margin: 5px;
}

.wishlist-price-row {
  display: flex;
  align-items: center;
}

.card-price {
  font-size: 1.25rem;
  color: #333;
  margin: 0;
}

.wishlist-icon {
  font-size: 1.5rem;
  color: #e53e3e;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-right: 10px;
}

.wishlist-icon:hover {
  color: #c53030;
}

.add-to-cart-btn,
.buy-now-btn {
  background-color: #ff6347;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: calc(50% - 5px); /* Adjust button width as needed */
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover,
.buy-now-btn:hover {
  background-color: #e55337;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border: none;
}
